altgraph==0.17.2
APScheduler==3.6.3
asgiref==3.4.1
astroid==2.4.2
attrs==21.2.0
Automat==20.2.0
autopep8==1.5.4
beautifulsoup4==4.10.0
cachetools==4.2.2
certifi==2020.12.5
characteristic==14.3.0
chardet==4.0.0
click==8.0.1
colorama==0.4.4
constantly==15.1.0
cycler==0.10.0
Django==3.2.8
django-bootstrap-v5==1.0.7
et-xmlfile==1.1.0
Flask==2.0.1
future==0.18.2
html2image==2.0.1
hyperlink==21.0.0
idna==2.10
imgkit==1.2.2
incremental==21.3.0
isort==5.7.0
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.2
klein==20.6.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
mpmath==1.2.1
openpyxl==3.0.7
pandas==1.2.1
pefile==2021.9.3
Pillow==8.3.2
psutil==5.8.0
pycodestyle==2.6.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pylint==2.6.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-telegram-bot==13.9
pytz==2020.5
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
soupsieve==2.3
sqlparse==0.4.2
sympy==1.8
Tcl==0.2
terminaltables==3.1.0
toml==0.10.2
tornado==6.1
Tubes==0.2.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.3
Werkzeug==2.0.1
wrapt==1.12.1
zope.interface==5.4.0
